# .NET ASP Build files
bin/
obj/
*.suo
*.user
*.vspscc
*.vssscc
*.cache
*.dbmdl
*.dbproj.schemaview
*.docstates
*.jfm
*.log
*.ndoc
*.nupkg
*.pfx
*.pidb
*.rdl.data
*.rptproj.user
*.sln.docstates
*.suo
*.user
*.userosscache
*.webtest
*.xml.cache
*.vc.db
